
<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="error-template"><span class="fa-stack fa-5x">
                    <i class="fa fa-exclamation-triangle fa-stack-1x"></i>
                  </span>
                    <h4>Server Error!</h4>
                    <div class="countdown">
                         <span>Getting</span>redirecting to in 5.
                      </div>
                      
                    <ng-container *ngIf="error">
                        <h5 class="text-danger">Error: {{error.message}}</h5>
                    </ng-container>
                    <code class="mt-5" style="background-color: beige;">
                        {{error.details}}
                    </code>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning btn-lg" routerLink="/ads" routerLinkActive="active"><i
                                class="fa fa-home fa-lg mb-1" aria-hidden="true"></i> Back to Ads</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>