
<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="error-template"><span class="fa-stack fa-5x">
                    <i class="fa fa-exclamation-triangle fa-stack-1x"></i>
                  </span>
                    <h4>Dahili sunucu hatası - Sayfayı yenileyerek devam edebilirsiniz!</h4>
                    <div class="countdown">
                        Yönlendiriliyorsunuz <span>5 </span>saniye içinde...
                      </div>
                      
                    <ng-container *ngIf="error">
                        <h5 class="text-danger">Error: {{error.message}}</h5>
                    </ng-container>
                    <code class="mt-5" style="background-color: beige;">
                        {{error.details}}
                    </code>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning btn-lg" routerLink="/ads" routerLinkActive="active"><i
                                class="fa fa-home fa-lg mb-1" aria-hidden="true"></i> İlanlara Geri Dön</button>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-info btn-lg ml-1" routerLink="/help" routerLi    nkActive="active"><i
                                class="fa fa-envelope" aria-hidden="true"></i> Yardım</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>