  
<body class="text-center">
    <form #loginForm="ngForm" class="form-signin" *ngIf="!(accountService.currentUser$ | async)"role="login" (ngSubmit)="login()">

      <h1 class="h3 mb-3 font-weight-normal">Login </h1>
  
      <label for="inputEmail" class="sr-only mb-1">Username</label>
      <input type="text" class="form-control mb-2" name="username" id="username" [(ngModel)]="model.username"
      aria-describedby="inputGroup-sizing-lg" placeholder="Username" required autofocus>

  
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control mb-2" name="password" id="password" aria-describedby="passwordHelpBlock"
      aria-describedby="inputGroup-sizing-lg"[(ngModel)]="model.password" placeholder="Password" required>
        
      <div class="flex-shrink-0">
        <button class="btn btn-outline-success form-control" type="submit">Login</button> 
      </div>
    </form>
  </body>