.card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .house-card {
    height: 200px; /* Adjust the height as desired */
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden; /* Hide any overflow from the card */
    margin-bottom: 10px; /* Add margin-bottom for spacing */
  }
  
  .house-card:hover {
    background-color: #9adbf5;
  }
  .house-title {
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
  }
  
  .house-title:hover {
    color: blue;
  }
  .user-card {
    height: 80px; /* Adjust this value as you like */
  }
  