  <div class="row">
    <div class="col-12 col-md-8 order-md-1 order-2">
          <div *ngIf="likedAds">
            <div class="card house-card"*ngFor="let ad of likedAds" (click)="redirectToAdDetail(ad.houseId)">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img class="card-img-top" [src]="ad.housePhotoUrl" alt="{{ ad.houseTitle }}" />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ ad.houseTitle }}</h5>
                    <div class="card-buttons">
                      <button type="button" (click)="onUnlike(ad.houseId)" class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 order-md-2 order-1">
          <!-- User -->
          <div class="card user-card mt-4"> 
           
        </div>
  </div>
  