<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occurred, The page you requested was not found!
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-warning btn-lg" routerLink="/ads" routerLinkActive="active"><i
                                class="fa fa-home fa-lg mb-1" aria-hidden="true"></i> Return Ads</button>
                    </div>
                    <div class="flex-shrink-0">
                        <button class="btn btn-info btn-lg ml-1" routerLink="/help" routerLinkActive="active"><i
                                class="fa fa-envelope" aria-hidden="true"></i> Help</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>