
<body class="text-center">
  <form #registerForm="ngForm" class="form-register" (ngSubmit)="register()" autocomplete="off">
    
    <h1 class="h3 mb-3 font-weight-normal">You have to register to publish ads! </h1>

    <label for="inputEmail" class="sr-only mb-1">Username</label>
    <input type="text" class="form-control mb-2" name="username" id="username" [(ngModel)]="model.username"
    aria-describedby="inputGroup-sizing-lg" placeholder="Username" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control mb-2" name="password" id="password" aria-describedby="passwordHelpBlock"
    aria-describedby="inputGroup-sizing-lg"[(ngModel)]="model.password" placeholder="Password" required>
  
    <div class="text-center">
      <button class="btn btn-lg btn-warning" type="submit">Sign Up</button>
    </div>
    <div class="text-center">
      <button class="btn btn-lg btn-info" routerLink="/login" type="submit">Already have a account login</button>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-danger btn-lg" routerLink="/ads" (click)="cancel()">Back</button>
    </div>
  </form>
</body>