
  
  /* For screens larger than 576px (desktop devices) */
  @media (min-width: 576px) {
    .form-group {
      display: flex;
      margin-bottom: 1rem;
    }
    label {
      flex-basis: 30%;
      margin-bottom: 0;
      font-weight: bold;
    }
    .form-control {
      flex-basis: 70%;
    }
    .btn {
      width: auto;
      margin-top: 0;
    }
  }
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;
    height: 3rem;
    max-width: 400px;
  }
  
  .btn-success {
    margin-right: 0.5rem;
  }
  
  