<div class="card">
    <div class="card-body" #scrollMe style="overflow: scroll; height: 400px; overflow-x: hidden;" [scrollTop]='scrollMe.scrollHeight'>
      <ul>
        <li *ngFor="let message of messages">
          <div>
            <div class="chat-body">
              <div class="header">
                <small class="text-muted">
                  <span>
                  {{ message.senderUsername }}
                  </span>
                  <span class="fa fa-clock-o">{{ message.messageSent +'Z' | timeago }}</span>
                  <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== userName">
                    (unread)
                  </span>
                  <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== userName">
                    (read {{ message.dateRead + 'Z' | timeago }})
                  </span>
                </small>
              </div>
              <p>{{ message.content }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <form #messageForm='ngForm' (ngSubmit)="sendMessage()" autocomplete="off">
        <div class="input-group">
          <input name="messageContent" required [(ngModel)]="messageContent" name="messageContent" class="form-control input-sm" type="text" placeholder="Send a private message">
          <div class="input-group-append">
            <button [disabled]="!messageForm.valid" class="btn btn-success" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  