


  <body>
    <form class="d-flex flex-grow-1 mt-2" role="search">
      <input class="form-control me-2" id="search" type="search" placeholder="**" aria-label="Search">
      <button class="btn btn-outline-success mt-1" type="submit">Ara</button>
    </form>
    <main role="main">



          <div class="row">
            <div class="col-md-4" *ngFor="let house of houses">
            
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{house.photoUrl}}" alt="{{house.title}}">
                
                <div class="card-body">
                
                    <li *ngFor="let category of houseCategories">{{category.name}}</li>
                  
                
                  <p class="card-text">{{house.description}}</p>

                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{house.price}}</h5>
                    <h5 class="card-title">{{house.userName}}</h5>
                    <h5 class="card-title">{{house.room}}</h5>
                    <div class="btn-group">
                      <button type="button" routerLink="/ads/{{house.id}}" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">{{house.creationDate | date: 'mediumDate'}}</small>
   
                  </div>
                  <div *ngFor="let town of houseTowns">
                    <h5 class="card-title">{{town.name}}</h5>
                  </div>
                  <div *ngFor="let district of houseDistricts">
                    <h5 class="card-title">{{district.name}}</h5>
                  </div>

  

 
             
                  
                </div>
              </div>
            </div>
          </div>
       
    </main>
  </body>

