<body>
  <form class="d-flex flex-grow-1 mt-2" role="search">
    <input class="form-control me-2" id="search" type="search" placeholder="**" aria-label="Search">
    <button class="btn btn-outline-success mt-1" type="submit">Ara</button>
  </form>
  <main role="main">

    <div class="container">

      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let house of houses">
            <div class="card mb-4 box-shadow">
              <a [routerLink]="['/ads', house.id]">
                <img class="card-img-top" src="{{ house.photoUrl }}" alt="{{ house.title }}">
              </a>
              <div class="card-body">
                <a [routerLink]="['/ads', house.id]" class="card-link">
                  <h5 class="card-title">{{ house.title | slice:0:40 }}{{ house.title.length > 40 ? '...' : '' }}</h5>
                </a>
                
                
                
                

                <p class="card-text">{{ house.description | slice:0:70 }}{{ house.description.length > 70 ? '...' : '' }}</p>

                <div class="location-row">
                  <div class="flex-item">
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                    <span class="username">{{ house.userName.charAt(0).toUpperCase() + house.userName.slice(1).toLowerCase() }}</span>

                  </div>
                  <div class="flex-item location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
                    <div class="location-details">
                      <span class="town">{{house.townName}}</span>
                      <span>/</span>
                      <span class="district">{{house.districtName}}</span>
                    </div>
                  </div>
                  <div class="flex-item">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                    <span class="text-muted">{{ house.creationDate | date: 'MMM d' }}</span>
                  </div>
                </div>

                <div class="property-row mt-2">
                  <div class="flex-item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>{{house.room}}</span>
                  </div>
                  <div class="flex-item">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                    <span>{{house.square}} m<sup>2</sup></span>
                  </div>
                  <div class="flex-item">
                    <span>{{ house.price | number:'1.0-0' }} ₺</span>
                  </div>
                </div>


                <div class="btn-group d-flex mt-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary flex-fill" style="float:right;"> <i
                      class="fa fa-heart" aria-hidden="true" style="color: red"></i>&nbsp;Favourite</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary flex-fill"
                    routerLink="/ads/{{house.id}}">View</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </main>
</body>
